@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.navSticky {
  background-color: #fff;
  border-radius: unset;
  box-shadow: 0px 2px 10px #6366f1;
  padding: 0.25rem 0;
}
